<div class="main-content">

    <div class="container">
        <div class="row">
            <form #signInForm="ngForm" (ngSubmit)="signIn()" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="card card-login">
                    <div class="card-header text-center" data-background-color="rose">
                        <h4 class="card-title">Login</h4>
                        <div class="social-line">
                            <a class="btn btn-just-icon btn-simple" href="#btn">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="btn btn-just-icon btn-simple" href="#pablo">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="btn btn-just-icon btn-simple" href="#eugen">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <p class="category text-center">
                        Or Be Classical
                    </p>
                    <div class="card-content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">face</i>
                            </span>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">First Name</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Email address</label>
                                <input [(ngModel)]="signInData.email" #email="ngModel" name="email" class="form-control" type="email">
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Password</label>
                                <input  [(ngModel)]="signInData.password" #password="ngModel" name="password" class="form-control" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <button class="btn btn-rose btn-simple btn-wd btn-lg" type="submit" translate>{{"login.go"}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
