<div class="main-content">
    <div class="container-fluid">
        <div class="row">

<div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color='red'>
        <h4 class="title">Issues</h4>
        <p class="category">All project issues</p>
      </div>
        <div class="card-body">
            <div class="toolbar">
                
            </div>
            <div class="material-datatables">
              <div id="datatables_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="datatables_length"><label class="form-group">Show <select name="datatables_length" aria-controls="datatables" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="-1">All</option></select> entries</label></div></div><div class="col-sm-6"><div id="datatables_filter" class="dataTables_filter"><label class="form-group"><input type="search" class="form-control input-sm" placeholder="Search records" aria-controls="datatables"></label></div></div></div><div class="row"><div class="col-sm-12"><table cellspacing="0" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" id="datatables" style="width: 100%;" width="100%" role="grid" aria-describedby="datatables_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 236px;" aria-label="Name: activate to sort column ascending" aria-sort="descending">Title</th>
                            <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 236px;" aria-label="Position: activate to sort column ascending">Project</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr><th rowspan="1" colspan="1">Title</th>
                            <th rowspan="1" colspan="1">Project</th>
                    </tfoot>
                    <tbody>
                    <tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0">Yuri Berry</td>
                            <td>Mike Monday</td>
                        </tr><tr role="row" class="even">
                            <td class="sorting_1" tabindex="0">Vivian Harrell</td>
                            <td>Mike Monday</td>
                        </tr><tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0">Unity Butler</td>
                            <td>Mike Monday</td>
                        </tr><tr role="row" class="even">
                            <td class="sorting_1" tabindex="0">Timothy Mooney</td>
                            <td>Mike Monday</td>
                        </tr><tr role="row" class="odd">
                            <td class="sorting_1" tabindex="0">Tiger Nixon</td>
                            <td>Mike Monday</td>
                        </tr>
                        </tbody>
                </table></div></div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">Showing 1 to 10 of 40 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_full_numbers" id="datatables_paginate"><ul class="pagination"><li class="paginate_button first disabled" id="datatables_first"><a href="#" aria-controls="datatables" data-dt-idx="0" tabindex="0">First</a></li><li class="paginate_button previous disabled" id="datatables_previous"><a href="#" aria-controls="datatables" data-dt-idx="1" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="datatables" data-dt-idx="2" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="datatables" data-dt-idx="3" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="datatables" data-dt-idx="4" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="datatables" data-dt-idx="5" tabindex="0">4</a></li><li class="paginate_button next" id="datatables_next"><a href="#" aria-controls="datatables" data-dt-idx="6" tabindex="0">Next</a></li><li class="paginate_button last" id="datatables_last"><a href="#" aria-controls="datatables" data-dt-idx="7" tabindex="0">Last</a></li></ul></div></div></div></div>
            </div>
        </div>
        
    </div>
    
</div>
</div>
</div>
</div>